.form-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #343434;
}

.form-radio-group__item label {
    padding-left: 7px;
}

.form__btn {
    margin-left: 0;
}

.errors {
    border: #FF5030 solid 1px;
    background-color: #FFCAC1;
    border-radius: 5px;
    padding: 15px;
    width: 100%;

    display: none;

    font-size: 1rem;
    color: #151515;
    font-weight: 200;
    margin-bottom: 20px;
}

.errors ul {
    list-style-position: inside;
    list-style-type: circle;
}

.errors-title {
    color: #FF2800;
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {
    .half-md {
        width: 48%;
    }
  
    .promotion {
        align-self: flex-start;
        margin-top: 65px;
    }

    .form {
        justify-content: space-between;
    }

    .form__btn {
        margin: auto;
        margin-bottom: 30px;
    }
}
