.form__subtitle {
    color: #343434;
    font-size: 1.2rem;
    font-weight: 300;
    align-self: flex-start;
    margin: 20px 0;
}

.form__btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-group-checkbox label {
    display: inline;
}


.form-group-checkbox input {
    display: inline;
    margin-right: 10px;
}

.form-group-checkbox {
    margin-bottom: 15px;
}

.options {
    width: 100%;
}

.form{
    flex-direction: column;
    align-items: flex-start;
}

.form-group-radio input {
    margin-right: 10px;
}

.checkbox-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.form-group-checkbox {
    background-color: #ffffff;
    box-shadow: 0 5px 5px #cacaca;
    padding: 8px;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: wrap;
}

.checkbox__input{
    width: 65%;
}

.flavors-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkbox__input {
    display: flex;
    align-items: center;
}

.form-group-checkbox:hover .label__flavor, .ingredients {
    display: none;
}

.form-group-checkbox:hover .ingredients {
    display: block;
}

@media (max-width:1000px) {
    .form-group-checkbox {
        width: 100%;
    }
}
